params {
  config_profile_description = 'Biowulf nf-core config'
  config_profile_contact = 'staff@hpc.nih.gov'
  config_profile_url = 'https://hpc.nih.gov/apps/nextflow.html'
  max_memory = 224.GB	
  max_cpus = 32
  max_time = 72.h

  igenomes_base = '/fdb/igenomes/'
}



profiles {
    biowulf {
        process {
            executor = 'slurm'
            queue = 'norm'
            queueSize = 100
            errorStrategy = 'finish'
            maxRetries = 0
            pollInterval = '1 min'
            queueStatInterval = '5 min'
            submitRateLimit = '6/1min'
            scratch = '/lscratch/$SLURM_JOBID'
            clusterOptions = ' --gres=lscratch:300'

            withName:align_to_ref {
                memory = '64 G'
                time = '24h'
            }
            withName:summarize_adapter_table {
                memory = '24 G'
            }
        }
        


        singularity.enabled = true
        singularity.autoMounts = true
        singularity.cacheDir = "$PWD/singularity"
        singularity.runOptions="-B /data/Neuro_Longread/long_read_scRNA/"
        singularity.envWhitelist='https_proxy,http_proxy,ftp_proxy,DISPLAY,SLURM_JOBID'
        
        timeline.enabled = true
        report.enabled = true
    }
}


